<% if current_user%>
  <h3>Welcome <%= "#{current_user.name}" %></h3>
  <%= link_to "Playlists", "/#{safe_uri(current_user.name)}"%>
  <%= link_to "Logout", logout_path%>
<%else%>
  <%= link_to "Sign in with Spotify", "/auth/spotify?show_dialog=true" %>
<%end%>